<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba Ansible</title> 
</head>

<body>
   <h1>PAGINA WEB</h1>
  <p>IP: {{ansible_ssh_host}}</p>
  <p>Est es una página de prueba.</p>
</body>
</html>
