# interfaces(5) file used by ifup(8) and ifdown(8)
# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

# The loopback network interface
auto lo
iface lo inet loopback

# RED EXTERNA
auto {{interfaz_externa_router}}
iface {{interfaz_externa_router}} inet dhcp

# RED NAT
auto {{interfaz_nat_router}}
iface {{interfaz_nat_router}} inet static
address {{ip_nat_router}}
netmask {{mascara_red}}
gateway {{ip_gateway}}

# RED INTERNA
auto {{interfaz_interna_router}}
iface {{interfaz_interna_router}} inet static
      address {{ip_privada_router}}
      netmask {{mascara_red}}

# NAT
up iptables -t nat -A POSTROUTING -o {{interfaz_externa_router}} -s {{direccion_privada}} -j MASQUERADE
down iptables -t nat -D POSTROUTING -o {{interfaz_externa_router}} -s {{direccion_privada}} -j MASQUERADE

# DNAT
up iptables -t nat -A PREROUTING -p tcp --dport 80 -i {{interfaz_externa_router}} -j DNAT --to {{reserva_cliente}}
down iptables -t nat -D PREROUTING -p tcp --dport 80 -i {{interfaz_externa_router}} -j DNAT --to {{reserva_cliente}}
